@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
html, body {
  margin: 0;
}

html, body, input, textarea, button, select {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 22px;
  font-weight: 600;
}

h6 {
  font-size: 14px;
  margin-bottom: 2px;
}

img {
  overflow: hidden;
  display: block;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
}

.btn {
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid;
  padding: 15px 40px;
  font-weight: 700;
  transition: 0.25s;
}

.menu-btn {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.25s;
  outline: none;
  border: none;
  height: 55px;
  width: 55px;
  font-size: 26px;
  background-color: transparent;
}

.container {
  width: 1170px;
  margin: auto;
}
@media (max-width: 1400px) {
  .container {
    width: 950px;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 800px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 650px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 3%;
  }
}

.page-top {
  text-align: center;
  padding: 80px 0;
  background-image: url("../../img/page-top.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.page-top h1 {
  font-size: 40px;
  color: var(--color-primary);
  margin-bottom: 10px;
}
.page-top a {
  font-size: 14px;
}
.page-top a:hover {
  text-decoration: underline;
}
.page-top i {
  font-size: 10px;
  margin: 0 10px;
}
.page-top .active {
  color: var(--color-secondary);
}

.contact-info .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
@media (max-width: 1200px) {
  .contact-info .container {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .contact-info .container {
    display: block;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.contact-info .container img {
  width: 100%;
}
@media (max-width: 768px) {
  .contact-info .container img {
    display: none;
  }
}
.contact-info .container .contact-info-content {
  padding-left: 20%;
}
@media (max-width: 1200px) {
  .contact-info .container .contact-info-content {
    padding: 0 5%;
  }
}
.contact-info .container .contact-info-content h2 {
  margin-bottom: 28px;
}
@media (max-width: 992px) {
  .contact-info .container .contact-info-content h2 {
    font-size: 35px;
  }
}
@media (max-width: 768px) {
  .contact-info .container .contact-info-content h2 {
    text-align: center;
  }
}
.contact-info .container .contact-info-content .info-container {
  display: flex;
}
@media (max-width: 768px) {
  .contact-info .container .contact-info-content .info-container {
    display: block;
    text-align: center;
  }
}
.contact-info .container .contact-info-content .info-container i {
  color: var(--color-secondary);
  font-size: 20px;
  width: 22px;
  text-align: center;
}
.contact-info .container .contact-info-content .info-container div {
  font-size: 14px;
  margin-left: 8px;
  margin-bottom: 36px;
}
@media (max-width: 1200px) {
  .contact-info .container .contact-info-content .info-container div {
    margin-bottom: 24px;
  }
}
.contact-info .container .contact-info-content .info-container div .info-label {
  font-weight: 700;
  margin-bottom: 6px;
}

header {
  box-shadow: 0px 0px 31px 0px rgba(0, 0, 0, 0.16);
}
@media (max-width: 768px) {
  header .info-bar {
    display: none;
  }
}
header .info-bar .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
header .info-bar .info .socials {
  display: flex;
  justify-content: center;
}
header .info-bar .info .socials a {
  display: block;
  width: 45px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s;
}
header .info-bar .info .socials a:hover {
  background-color: var(--color-primary-light);
}
header .info-bar .info .socials a:first-child, header .info-bar .info .socials a:last-child {
  border-right: 1px solid var(--color-primary-light);
  border-left: 1px solid var(--color-primary-light);
}
header .info-bar .info .socials a i {
  color: var(--color-light);
}
header .menu-bar {
  position: relative;
}
header .menu-bar .menu {
  height: 84px;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
}
@media (max-width: 768px) {
  header .menu-bar .menu {
    display: flex;
    justify-content: space-between;
  }
}
header .menu-bar .menu nav {
  display: flex;
  justify-content: center;
}
@media (min-width: 769px) {
  header .menu-bar .menu nav {
    display: flex !important;
  }
}
@media (max-width: 768px) {
  header .menu-bar .menu nav {
    display: none;
    position: absolute;
    top: 84px;
    width: 94%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.952);
  }
}
header .menu-bar .menu nav a {
  color: var(--color-primary);
  font-size: 16px;
  font-weight: 700;
  padding: 0 4%;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s;
}
header .menu-bar .menu nav a:hover {
  background-color: var(--color-gray);
}
header .menu-bar .menu nav .active {
  color: var(--color-secondary);
}
@media (max-width: 768px) {
  header .menu-bar .fa-magnifying-glass {
    display: none;
  }
}
header .menu-bar .menu-btn {
  display: none;
}
@media (max-width: 768px) {
  header .menu-bar .menu-btn {
    display: block;
  }
}

footer {
  background-color: var(--color-dark);
  font-size: 14px;
  color: var(--color-primary);
  padding: 18px 0;
}

.ceo-statement .container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 2fr;
  padding-top: 112px;
  padding-bottom: 112px;
}
@media (max-width: 992px) {
  .ceo-statement .container {
    display: block;
  }
}
@media (max-width: 992px) {
  .ceo-statement .container .ceo-img {
    margin-bottom: 55px;
  }
}
.ceo-statement .container .ceo-img img {
  width: 100%;
}
@media (max-width: 992px) {
  .ceo-statement .container .ceo-img img {
    width: 300px;
    margin: auto;
  }
}
.ceo-statement .container .ceo-img p {
  font-style: italic;
  margin-top: 10px;
  text-align: center;
}
.ceo-statement .container .ceo-statement-content {
  margin-left: 50px;
}
@media (max-width: 768px) {
  .ceo-statement .container .ceo-statement-content {
    margin: 0;
  }
}
.ceo-statement .container .ceo-statement-content .quote {
  font-style: italic;
  font-size: 20px;
  font-weight: 300;
}
.ceo-statement .container .ceo-statement-content .ceo-statement-paragraph {
  font-size: 14px;
  margin: 18px 0;
}
.ceo-statement .container .ceo-statement-content .leading {
  margin: 32px 0;
}

.reviews {
  overflow: hidden;
}
.reviews .container {
  display: grid;
  grid-template-columns: 55% 45%;
  align-items: center;
  height: 511px;
}
@media (max-width: 1200px) {
  .reviews .container {
    display: block;
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.reviews .container .review-content {
  padding-right: 6%;
}
@media (max-width: 1200px) {
  .reviews .container .review-content {
    text-align: center;
    padding: 0;
  }
}
.reviews .container .review-content h2 {
  padding-right: 20%;
  color: var(--color-primary);
}
@media (max-width: 1200px) {
  .reviews .container .review-content h2 {
    padding: 0;
  }
}
.reviews .container .review-content .review-text {
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  color: var(--color-primary-light);
  margin: 20px 0;
}
.reviews .container .review-content .customer, .reviews .container .review-content i, .reviews .container .review-content .company {
  color: var(--color-dark);
}
.reviews .container .review-content .customer {
  font-size: 14px;
  margin: 22px 0 4px 0;
}
.reviews .container .review-content .company {
  font-size: 20px;
  font-style: italic;
}
.reviews .container .review-img {
  position: relative;
  height: 100%;
}
@media (max-width: 1200px) {
  .reviews .container .review-img {
    margin-top: 25px;
  }
}
.reviews .container .review-img img {
  position: absolute;
  left: 0;
  bottom: 0;
}
@media (max-width: 1200px) {
  .reviews .container .review-img img {
    position: static;
    width: 80%;
    margin: auto;
  }
}

.team {
  padding: 120px 0 84px 0;
}
.team .container h6, .team .container h2 {
  text-align: center;
}
.team .container h2 {
  width: 501px;
  margin: auto;
}
@media (max-width: 768px) {
  .team .container h2 {
    width: 80%;
  }
}
.team .container .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 25px;
}
.team .container .grid .grid-container {
  border: 1px solid var(--color-border-gray);
}
@media (max-width: 768px) {
  .team .container .grid .grid-container img {
    width: 350px;
  }
}
.team .container .grid .grid-container .member-info {
  padding: 24px;
}