h3, h6{
    color: var(--color-secondary);
}

h1, h2, h4, h5{
    color: var(--color-primary);
}

.bg-primary{
    h1, h2, h4, h5{
        color: var(--color-light);
    }
}

h2 {
    span {
        color: var(--color-secondary);
    }
}