@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.CustomPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "mainLayout.cshtml";

	ViewBag.Title = Model.Value("pageTitle");

	var includeBreadcrumbs = Model.Value<bool>("includeBreadcrumbs");
}

@if (includeBreadcrumbs){
    <section class="page-top bg-gray">
        <h1>@Model.Value("pageTitle")</h1>
        @await Html.PartialAsync("partials/static/breadcrumbs.cshtml")
    </section>
}

@await Html.GetBlockGridHtmlAsync(Model.Content)