@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.CustomPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "mainLayout.cshtml";

	ViewBag.Title = Model.Value("pageTitle");

	var includeBreadcrumbs = Model.Value<bool>("includeBreadcrumbs");
    var includeSidebar = Model.Value<bool>("includeSidebar");
    var includeContactInfo = Model.Value<bool>("includeContactInfo");
}

@if (includeBreadcrumbs){
    <section class="page-top bg-gray">
        <h1>@Model.Value("pageTitle")</h1>
        @await Html.PartialAsync("partials/static/breadcrumbs.cshtml")
    </section>
}

@if (includeSidebar)
{
    <div class="container container-with-sidebar">
        @await Html.GetBlockGridHtmlAsync(Model.Content)
        @await Html.PartialAsync("partials/static/sidebar.cshtml")
    </div>
}

else
{
    @await Html.GetBlockGridHtmlAsync(Model.Content)
}

@if (includeContactInfo)
{
    <section class="contact-info-section bg-gray">
        @await Html.PartialAsync("partials/static/contactInfo.cshtml")
    </section>
}