.article{
    padding: 80px 0;

    .container{
        display: flex;

        @include px768{
            display: block;
        }

        .date{
            display:flex;
            align-items: center;

            color: var(--color-dark-gray);

            i{
                margin: 0 6px 2px 0;
            }
        }

        .article-container{
            padding-right: 5%;

            border-right: 1px solid var(--color-border-gray);

            margin-right: 3%;

            .img-margin-top{
                margin-top: 30px;
            }

            @include px768{
                padding: 0;

                border: none;

                margin: 0;
            }

            .date{
                margin-bottom: 14px;
            }

            .intro-text, h5{
                color: var(--color-primary);

                font-weight: 700;
            }

            p, li{
                font-size: 14px;
                margin: 12px 0;
            }

            img{
                width: 100%;
            }

            h5{
                margin-top: 30px;

                font-size: 18px;
            }

            ul{
                margin: 0;

                padding: 0;
                padding-left: 18px;

                li{
                    &::marker{
                        color: var(--color-turquoise);
                    }
                }
            }

            .img-and-text{
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
                gap: 24px;
                align-items: start;

                margin-top: 30px;

                img{
                    width: 100%;
                }

                .text{
                    h5{
                        margin-top: 0;
                    }
                }
            }

            .article-tags{
                display: flex;
                align-items: center;

                margin-top: 64px;

                p{
                    font-weight: 600;
                    color: var(--color-primary);
                }

                .btn{
                    font-size: 13px;
                    font-weight: 400;

                    padding: 5px 10px;

                    border-radius: 15px;

                }

                p, .btn{
                    margin: 0 5px;
                }
            }
        }

        .sidebar{
            h5{
                margin-bottom: 6px;

                &:nth-last-child(1 of h5){
                    margin-bottom: 16px;
                }
            }

            .recent-projects-list{
                margin-bottom: 22px;

                .recent-project-container{
                    display: flex;
    
                    font-size: 14px;
    
                    border-bottom: 1px solid var(--color-border-gray);
    
                    padding: 14px 0;
    
                    transition: 0.25s;
    
                    &:nth-last-child(1 of .recent-project-container){
                        border: none;
                    }
    
                    &:hover{
                        background-color: var(--color-gray);
                    }
    
                    img{
                        width: 60%;
                    }
    
                    .recent-project-content{
                        margin-left: 12px;
    
                        .date{    
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }
}