@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
html, body {
  margin: 0;
}

html, body, input, button, select {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid;
  padding: 15px 40px;
  font-weight: 700;
  transition: 0.25s;
}

.menu-btn {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.25s;
  outline: none;
  border: none;
  height: 55px;
  width: 55px;
  font-size: 26px;
  background-color: transparent;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 22px;
  font-weight: 600;
}

h6 {
  font-size: 14px;
  margin-bottom: 2px;
}

img {
  overflow: hidden;
  display: block;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
}

.btn {
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid;
  padding: 15px 40px;
  font-weight: 700;
  transition: 0.25s;
}

.menu-btn {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.25s;
  outline: none;
  border: none;
  height: 55px;
  width: 55px;
  font-size: 26px;
  background-color: transparent;
}

.container {
  width: 1170px;
  margin: auto;
}
@media (max-width: 1400px) {
  .container {
    width: 950px;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 800px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 650px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 3%;
  }
}

input, select, textarea {
  width: 100%;
  padding: 12px 18px;
  border: none;
  outline: 1px solid var(--color-border-gray);
  font-size: 13px;
}
input::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
  font-style: italic;
}
input::placeholder, select::placeholder, textarea::placeholder {
  font-style: italic;
}

select {
  border-right: 12px solid transparent;
}

header {
  box-shadow: 0px 0px 31px 0px rgba(0, 0, 0, 0.16);
}
@media (max-width: 768px) {
  header .info-bar {
    display: none;
  }
}
header .info-bar .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
header .info-bar .info .socials {
  display: flex;
  justify-content: center;
}
header .info-bar .info .socials a {
  display: block;
  width: 45px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s;
}
header .info-bar .info .socials a:hover {
  background-color: var(--color-primary-light);
}
header .info-bar .info .socials a:first-child, header .info-bar .info .socials a:last-child {
  border-right: 1px solid var(--color-primary-light);
  border-left: 1px solid var(--color-primary-light);
}
header .info-bar .info .socials a i {
  color: var(--color-light);
}
header .menu-bar {
  position: relative;
}
header .menu-bar .menu {
  height: 84px;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
}
@media (max-width: 768px) {
  header .menu-bar .menu {
    display: flex;
    justify-content: space-between;
  }
}
header .menu-bar .menu nav {
  display: flex;
  justify-content: center;
}
@media (min-width: 769px) {
  header .menu-bar .menu nav {
    display: flex !important;
  }
}
@media (max-width: 768px) {
  header .menu-bar .menu nav {
    display: none;
    position: absolute;
    top: 84px;
    width: 94%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.952);
  }
}
header .menu-bar .menu nav a {
  color: var(--color-primary);
  font-size: 16px;
  font-weight: 700;
  padding: 0 4%;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s;
}
header .menu-bar .menu nav a:hover {
  background-color: var(--color-gray);
}
@media (max-width: 768px) {
  header .menu-bar .fa-magnifying-glass {
    display: none;
  }
}
header .menu-bar .menu-btn {
  display: none;
}
@media (max-width: 768px) {
  header .menu-bar .menu-btn {
    display: block;
  }
}

.hero {
  width: 100%;
  overflow: hidden;
}
@media (max-width: 768px) {
  .hero {
    padding: 40px 0;
  }
}
.hero .container {
  position: relative;
}
.hero .container .img-container {
  display: inline-block;
  position: relative;
  right: -50%;
  vertical-align: top;
}
@media (max-width: 768px) {
  .hero .container .img-container {
    display: none;
  }
}
.hero .container .img-container img {
  width: 1920px;
  position: relative;
  left: -50%;
}
.hero .container .hero-content {
  position: absolute;
  top: 0;
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 768px) {
  .hero .container .hero-content {
    position: relative;
    width: 100%;
    text-align: center;
  }
}
.hero .container .hero-content h1 {
  font-size: 70px;
  line-height: 80px;
  color: var(--color-primary);
  padding-right: 20%;
}
@media (max-width: 992px) {
  .hero .container .hero-content h1 {
    font-size: 60px;
  }
}
@media (max-width: 768px) {
  .hero .container .hero-content h1 {
    padding: 0;
  }
}
.hero .container .hero-content p {
  color: var(--color-primary);
  margin: 45px 0;
  padding-right: 20%;
}
@media (max-width: 768px) {
  .hero .container .hero-content p {
    padding: 0;
  }
}

.about-us .container {
  padding: 100px 0;
  position: relative;
}
.about-us .container .about-us-content {
  width: 60%;
}
@media (max-width: 1200px) {
  .about-us .container .about-us-content {
    width: 45%;
  }
}
@media (max-width: 768px) {
  .about-us .container .about-us-content {
    width: 90%;
    text-align: center;
    margin: 0 auto 50px auto;
  }
}
.about-us .container .about-us-content h6 {
  font-size: 14px;
}
.about-us .container .about-us-content .about-us-quote {
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  margin: 35px 0 20px 0;
}
.about-us .container .about-us-content .about-us-text {
  font-size: 14px;
}
.about-us .container .about-us-content img {
  margin: 15px 0 5px 0;
}
.about-us .container .about-us-content .ceo-founder {
  font-size: 14px;
}
.about-us .container .call-back {
  position: absolute;
  top: -84px;
  right: 0;
  width: 35%;
  box-shadow: 0px 0px 31px 0px rgba(0, 0, 0, 0.16);
}
@media (max-width: 1200px) {
  .about-us .container .call-back {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .about-us .container .call-back {
    position: static;
    width: 90%;
    margin: auto;
  }
}
.about-us .container .call-back .call-back-header {
  padding: 25px;
}
.about-us .container .call-back .call-back-header h3 {
  color: var(--color-accent);
}
.about-us .container .call-back .call-back-content {
  padding: 25px;
}
.about-us .container .call-back .call-back-content p {
  font-size: 13px;
  font-style: italic;
  margin-bottom: 20px;
}
.about-us .container .call-back .call-back-content input, .about-us .container .call-back .call-back-content select {
  margin-bottom: 20px;
}
.about-us .container .call-back .call-back-content .btn {
  width: 100%;
}

.our-services .container {
  padding: 90px 0;
}
.our-services .container h6 {
  font-size: 14px;
  text-align: center;
}
.our-services .container h2 {
  text-align: center;
  padding: 0 5%;
}
.our-services .container h2 span {
  display: block;
}
.our-services .container .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 370px);
  justify-content: space-evenly;
  gap: 30px;
  margin-top: 30px;
}
@media (max-width: 768px) {
  .our-services .container .grid {
    grid-template-columns: repeat(auto-fill, 345px);
  }
}
.our-services .container .grid .grid-container {
  transition: 0.25s;
}
.our-services .container .grid .grid-container:hover {
  transform: scale(1.02);
}
.our-services .container .grid .grid-container div {
  padding: 30px;
}
.our-services .container .grid .grid-container div p {
  font-size: 14px;
}
.our-services .container .grid .grid-container img {
  width: 100%;
}

.our-story .container {
  padding-top: 120px;
}
.our-story .container .our-story-content {
  text-align: center;
  padding: 0 20% 100px 20%;
  background-image: url("../../img/dot-map.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .our-story .container .our-story-content {
    background-image: none;
  }
}
.our-story .container .our-story-content h2 {
  color: var(--color-primary);
}
.our-story .container .our-story-content h2 span {
  color: var(--color-secondary);
}
.our-story .container .our-story-content p {
  margin: 35px 0;
}
.our-story .container .our-story-img img {
  width: 100%;
}

.success-stories .container {
  padding: 90px 0;
  background-image: url("../../img/dot-map2.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 992px) {
  .success-stories .container {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .success-stories .container {
    background-image: none;
  }
}
@media (max-width: 992px) {
  .success-stories .container .success-stories-content {
    padding: 0 5%;
  }
}
.success-stories .container .success-stories-content h6, .success-stories .container .success-stories-content h2 {
  text-align: center;
}
.success-stories .container .success-stories-content .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
}
.success-stories .container .success-stories-content .grid .grid-container {
  width: 320px;
}
.success-stories .container .success-stories-content .grid .grid-container p {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.success-stories .container .success-stories-content .grid .grid-container p span {
  font-size: 100px;
  color: var(--color-secondary);
  display: block;
  line-height: 125px;
}
.success-stories .container .success-stories-img {
  height: 370px;
  margin-top: 70px;
}
@media (max-width: 1200px) {
  .success-stories .container .success-stories-img {
    height: 275px;
  }
}
@media (max-width: 992px) {
  .success-stories .container .success-stories-img {
    height: 1px;
  }
}
.success-stories .container .success-stories-img img {
  width: 100%;
}

.our-projects {
  margin-top: 270px;
}
@media (max-width: 1400px) {
  .our-projects {
    margin-top: 150px;
  }
}
@media (max-width: 992px) {
  .our-projects {
    margin-top: 53vw;
  }
}
.our-projects .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(470px, 1fr));
  margin-top: 30px;
}
@media (max-width: 768px) {
  .our-projects .grid {
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  }
}
.our-projects .grid .grid-container {
  position: relative;
}
.our-projects .grid .grid-container img {
  width: 100%;
}
.our-projects .grid .grid-container .project-content {
  padding: 24px;
  background-color: var(--color-primary-transparent);
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: 0.25s;
}
.our-projects .grid .grid-container .project-content h6 {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-light);
}
.our-projects .grid .grid-container .project-content p {
  font-size: 14px;
}
.our-projects .grid .grid-container .project-content i {
  display: none;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  font-size: 60px;
  align-items: center;
  justify-content: center;
}
.our-projects .grid .grid-container:hover .project-content {
  background-color: var(--color-primary);
  padding: 40px 100px 40px 40px;
}
.our-projects .grid .grid-container:hover .project-content h6 {
  font-weight: 700;
  color: var(--color-secondary);
}
.our-projects .grid .grid-container:hover .project-content i {
  display: flex;
}

.logos .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  justify-content: space-evenly;
  gap: 50px;
  padding: 75px 0;
}
@media (max-width: 768px) {
  .logos .container {
    padding: 75px 5%;
  }
}
.logos .container img {
  width: 100%;
}

footer {
  background-color: var(--color-dark);
  font-size: 14px;
  color: var(--color-primary);
  padding: 18px 0;
}