@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;

@{
    bool paddingTopAndBottom = Model.Content.Value<bool>("paddingTopAndBottom");

    var bgColorLabel = "";

    if (!(Model.Content.Value<ColorPickerValueConverter.PickedColor>("backgroundColor")?.Label).IsNullOrWhiteSpace())
    {
        bgColorLabel = $" bg-{bgColorLabel.ToLower()}";
    }

    var classString = $"section-container{bgColorLabel}{(paddingTopAndBottom ? " container-padding-top-bottom" : "")}";
}

<div class="@classString">
    @await Html.GetBlockGridItemAreasHtmlAsync(Model)
</div>