@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;

@{
    bool paddingTopAndBottom = Model.Content.Value<bool>("paddingTopAndBottom");
    bool paddingSides = Model.Content.Value<bool>("paddingSides");
    bool shadow = Model.Content.Value<bool>("shadow");

    var bgColorClass = "";
    var bgColorLabel = Model.Content.Value<ColorPickerValueConverter.PickedColor>("backgroundColor")?.Label ?? null!;

    if (!bgColorLabel.IsNullOrWhiteSpace())
    {
        bgColorClass = $" bg-{bgColorLabel.ToLower()}";
    }

    var classString = $"section-container{bgColorClass}{(shadow ? " container-shadow" : "")}{(paddingTopAndBottom ? " container-padding-top container-padding-bottom" : "")}{(paddingSides ? " container-padding-sides" : "")}";
}

<div class="@classString">
    @await Html.GetBlockGridItemAreasHtmlAsync(Model)
</div>