@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var fontWeight = Model.Content.Value<string>("fontWeight")!;

    switch (fontWeight)
    {
        case "Standard":
            fontWeight = "";
            break;
        case "Thin":
            fontWeight = " thin-h";
            break;
    }

    var isCentered = Model.Content.Value<bool>("alignToCenter");
    var content = Model.Content.Value<string>("content");
    var spanContent = Model.Content.Value<string>("spanText");
}

@if (!spanContent.IsNullOrWhiteSpace())
{
    <h2 class="@(isCentered ? "center-text" : "")@fontWeight">
        @content <span>@spanContent</span>
    </h2>
}

else
{
    <h2 class="@(isCentered ? "center-text" : "")@fontWeight">
        @content
    </h2>
}