input, select, textarea{
    width: 100%;

    padding: 12px 18px;

    border: none;

    font-size: 13px;

    &::placeholder{
        font-style: italic;
    }
}

select{
    border-right: 12px solid transparent;
}