.number-and-text-container {
    max-width: 320px;

    margin: auto;

    @include flex-center;

    p {
        font-size: 18px;
        font-weight: 600;
        text-align: center;

        span {
            font-size: 100px;
            color: var(--color-secondary);
            display: block;
            line-height: 125px;
        }
    }
}
