.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(470px, 1fr));

    @include px768 {
        grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    }

    .grid-container {
        position: relative;

        .img-container {
            

            img {
                object-fit: cover;
                height: 480px;
                min-width: 100%;
                width: 100%;
            }
        }

        .project-content {
            padding: 24px;
            background-color: var(--color-primary-transparent);
            position: absolute;
            bottom: 0;
            width: 100%;
            transition: 0.25s;

            h6 {
                font-size: 18px;
                font-weight: 500;
                color: var(--color-light);
            }

            p {
                font-size: 14px;
            }

            i {
                display: none;
                position: absolute;
                right: 30px;
                top: 0;
                bottom: 0;
                margin: auto 0;
                font-size: 60px;
                align-items: center;
                justify-content: center;
            }
        }

        &:hover .project-content {
            background-color: var(--color-primary);
            padding: 40px 100px 40px 40px;

            h6 {
                font-weight: 700;
                color: var(--color-secondary);
            }

            i {
                display: flex;
            }
        }
    }
}
