.question-form {
    margin-bottom: 76px;

    .container {
        form {
            .grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 24px;
                margin: 24px 0;

                @include px768 {
                    display: block;
                }

                .input-container {
                    @include px768 {
                        margin: 12px 0;
                    }
                }

                .span-2 {
                    grid-column: span 2;
                }

                textarea {
                    height: 175px;
                }
            }

            .btn {
                @include px768 {
                    display: block;
                    margin: auto;
                }
            }
        }
    }
}
