section {
    @include px768 {
        background-image: none !important;
    }

    .section-container {
        width: 100%;
        max-width: 1170px;
        margin: auto;

        @include px1400 {
            max-width: 950px;
        }

        @include px1200 {
            max-width: 800px;
        }

        @include px992 {
            max-width: 650px;
        }

        @include px768 {
            width: 100%;
            max-width:none;
            padding: 0 3%;
        }
    }
}

.section-padding{
    padding-top: 80px;
    padding-bottom: 80px;
}
