.support-box {
    margin-top: 44px;
    padding: 20px;
    background-image: url("/media/sqzihcdd/mail.svg");
    background-position: bottom right;
    background-repeat: no-repeat;

    h5 {
        color: var(--color-accent);
    }

    .support-text {
        font-size: 14px;
        margin: 12px 0 28px 0;
    }

    .input-container {
        position: relative;

        input {
            border-radius: 2px;
            padding-right: 35px;
        }

        .btn {
            padding: 8px;

            @include flex-center;
            background-color: transparent;
            border: none;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;

            height: 100%;

            margin: 0;

            &:hover {
                background-color: var(--color-border-gray);
            }
        }
    }

    .form-success-msg{
        color: var(--color-light);
    }
}